

.main {
    margin-top: 100px;
    /*margin-left: auto;
    margin-right: auto;
    display: block;*/
    

}

.logo-img {
    /*display: block;  inline */
    margin-top: 20px;
    width: 285px;
    display: block;
    margin: auto;
}

.search-input {  
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px; 
    width: 600px;
    display: block;
    height: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left:30px;
    padding-right: 30px;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
}

.btn-wrapper {
    display: flex;
    justify-content: center;
}

.btn {
    
    margin-left: 4px;
    margin-right: 4px;
    margin-top: 30px;
    background: #dfe1e5;
    border: none;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 4px;
    font-size: 14px;
}

/*body {

    /*background: rgb(128, 128, 125);
    color: white;
    font-size: 20px;
    font-weight: 10;
    font-style: oblique;
    text-align: justify;
    margin: auto;
}